/* Styles généraux pour l'ensemble de la page */
body {
  font-family: Arial, sans-serif; /* Utilisation de la police Arial ou une police sans-serif par défaut */
  margin: 0; /* Supprime la marge autour du contenu */
  padding: 0; /* Supprime le remplissage autour du contenu */
}

/* Styles pour l'en-tête (header) */
header {
  background-color: #333; /* Couleur de fond pour l'en-tête */
  color: #fff; /* Couleur du texte dans l'en-tête */
  padding: 20px; /* Ajoute du remplissage à l'en-tête */
  text-align: center; /* Centre le texte dans l'en-tête */
}

/* Styles pour les images */
img {
  border-radius: 50%; /* Ajoute un effet de bordure arrondie pour les images */
  width: 100px; /* Largeur fixe pour les images */
  height: 100px; /* Hauteur fixe pour les images */
}

/* Styles pour les titres de niveau 1 (h1) */
h1 {
  margin: 0; /* Supprime la marge du titre de niveau 1 */
}

/* Styles pour la navigation (nav) */
nav {
  background-color: #555; /* Couleur de fond pour la navigation */
  padding: 10px; /* Ajoute du remplissage à la navigation */
  text-align: center; /* Centre le texte dans la navigation */
}

/* Styles pour les liens dans la navigation */
nav a {
  color: #fff; /* Couleur du texte des liens dans la navigation */
  text-decoration: none; /* Supprime la soulignement des liens */
  margin: 0 10px; /* Ajoute une marge horizontale entre les liens */
}

/* Styles pour les sections */
section {
  padding: 20px; /* Ajoute du remplissage aux sections */
}

/* Styles pour le pied de page (footer) */
footer {
  background-color: #333; /* Couleur de fond pour le pied de page */
  color: #fff; /* Couleur du texte dans le pied de page */
  padding: 20px; /* Ajoute du remplissage au pied de page */
  text-align: center; /* Centre le texte dans le pied de page */
}

/* Styles spécifiques pour la page des services */
.services-container {
  max-width: 800px; /* Largeur maximale pour le conteneur des services */
  margin: 0 auto; /* Centre le conteneur des services en utilisant la marge automatique */
}

.service {
  margin-bottom: 30px; /* Ajoute de la marge en bas de chaque service */
  border: 1px solid #ccc; /* Ajoute une bordure d'épaisseur 1px solide et grise autour de chaque service */
  padding: 20px; /* Ajoute du remplissage à chaque service */
}

.service h3 {
  margin: 0; /* Supprime la marge du titre de niveau 3 à l'intérieur du service */
}

.service p {
  margin-top: 10px; /* Ajoute de la marge en haut du paragraphe à l'intérieur du service */
}
